# Node
node_modules/
npm-debug.log
yarn-error.log

# iOS
ios/build/
ios/Pods/
*.ipa

# Android
android/build/
android/app/build/
android/app/src/main/assets/
*.apk
*.keystore

# Expo
.expo/
dist/
*.jks
*.p12
*.key
*.mobileprovision

# Sensitive files
.env
*.pem
*.p8
*.p12
*.keystore
secrets.js
secrets.json

# IDE files
.idea/
*.iml
.vscode/
.project
.classpath
.cproject
.settings/

# Misc
*.orig
*.rej
*~
.DS_Store
